<div class="">
    <h1 class="">BlueChest App</h1>
    <div class="">
        <%= link_to "Log in", new_user_session_path, class: "" %><br />
        <%= link_to "Sign up", new_user_registration_path, class: "" %>
    </div>
</div>